src/main/mule/hello-word-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="46c0bae8-616f-46fb-bf39-0b88d18a9a4a">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="hello-word-apiFlow" doc:id="a5776e76-7ea2-4cc0-b726-59338d9afaa2">
        <http:listener doc:name="Listener" doc:id="ebeae70b-e3b9-4633-8734-ccf6a1d54965" config-ref="HTTP_Listener_config" path="/api/hello"/>
        <ee:transform doc:name="Transform Message" doc:id="5ee00afc-05f6-4e3d-8332-76f7b87b5167">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hello MuleSoft!"
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c471d04f-1106-41dd-a063-b6a10dedb507" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.message]"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.message]" doc:name="Set Payload" doc:id="af5681dd-22cf-4652-9b55-43922f1e61ae" />
    
</flow>

</mule>

